{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <div class="col-md-8 offset-md-2">
        <U><h1> Welcome to the Quiz Application </h1></U>

        <h4> Abstract </h4>
        <p>Generic Quiz WebApp for Assessment of Students performance. </p> 
        <p> Teachers will be creating courses and add Quizzes to those courses and similarly, questions to each
            quiz. Students will be enrolling to the courses using the enrollment key given by the
            respective course creator. Similarly to attempt the individual quiz student had to select
            the same enrollment image selected by the teacher at the time of creating the quiz. Quiz
            will contain multiple types of questions and System will evaluate the marks to the students.</p>
        
        <p> <strong>    Some Major Incorporations :    </strong>  
           <ul>
               <li> Images will be used for quiz enrollment keys. </li>
               <li> Verity of Question Types can be asked in the quiz.</li> 
               <ul>
                <li> Multiple Choice Question. </li>
                <li> Multiple Select Question. </li> 
                <li> Match the Following. </li>
                <li> Fill in the Blanks. </li>
               </ul>
           </ul>  
           </p>
    </div>
    
</div>
   
    
{% endblock %}