{% extends "/adminSite/adminHome.html" %}
{% block body %}

<h1> Users </h1>
<!-- {{ users }} -->
{% if msg1 %}

<div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-dismiss="alert"></button>
    <strong>{{msg1}}</strong> 
</div>

{% endif %}


<div class="modal" id="modaledituser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User Details</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div id="editBody" > 
       
      </div>
    </div>
  </div>
</div>

<hr>
<table id='tab' class="display table responsive table-hover">
    <thead>
      <tr class="table-light">
        <th scope="col"> Sr.No </th>
        {% for i in users.columns  %}
        
        <th scope="col"> {{ i }} </th>
        
        {% endfor %}
      
        <th scope="col"> Edit </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(users.shape[0]) %}
        
      <tr class="table-light">
        <th scope="row"> {{ i+1 }}  </th>
          {% for j in users.columns : %}   
            {% if j == 'User_id':%}    
              <td>              
                 {{ users.loc[i][j] }} 
              </td>    
            {% elif j == 'Active' :%}    
              <td>    
                <!-- {{ users.loc[i][j] }}  -->
                {% if users.loc[i][j] == 1 %}           
                  <input type="radio" disabled class="form-check-input btn-success" checked="">
                  Active
                {% else %}
                  <input type="radio" disabled class="form-check-input btn-danger" checked="">
                  Deactive
                {% endif %}

              </td>              
            {% else %}
            <td> 
              {{ users.loc[i][j] }} 
            </td>
            {% endif %}
                      
          {% endfor %}
         
          <td>
            {% set rw = users.loc[i].to_dict()%} 
            <button type="button"  onclick="ShowEditModel( {{ rw }} )"  class="btn btn-primary editbtn"  >
              Edit 
            </button>
          </td>
        
        
      </tr>
       
      {% endfor %}
    </tbody>
</table> 


<script type="text/javascript">
    $('#tab').DataTable();

    var modelBody =  $("#editBody");

    function ShowEditModel( rw ) 
    {  
      console.log(rw);
      url = '/admin/Updateusers?rowdata=' //+ JSON.stringify(rw)
      $(modelBody).children('div').remove();
      var s = ` <div class="modal-body">
                               
                                <form action=`+ url +` method="POST" >
  <fieldset>
    <legend> User Details </legend>
    <div class="form-group row">
      <label for="user_id" class="col-sm-2 col-form-label"> User Id : </label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control" name="user_id" value="`+ rw['User_id'] +`">
      </div>
    </div>
    <div class="form-group">
      <label for="user_email" class="form-label ">Email address</label>
      <input type="email" required class="form-control" name="user_email"  value="`+ rw['User_Email'] +`" placeholder="Enter email">
    
    </div>
    <div class="form-group">
      <label for="user_password" class="form-label ">Password</label>
      <input type="password" required class="form-control" value="`+ rw['Password'] +`" name="user_password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="phone_no" class="form-label "> Phone No </label>
      <input type="number" required class="form-control" name="phone_no"  value="`+ rw['Phone_No'] +`" placeholder="Enter Phone No">    
    </div>
    <div class="form-group row">
      <label for="user_role" class="col-sm-2 col-form-label"> User Role : </label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control" name="user_role" value="`+ rw['Role'] +`">
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="form-label ">User Status</label>
      <select class="form-select" name="status">
        `
        if (rw['Active'] == 1){
            s = s +`<option value="1">Activate</option>`
        }
        else{
          s = s +`<option value="0">DeActivate</option>`
        } 


      s = s +  `
        <option value="1">Activate</option>
        <option value="0">DeActivate</option>        
      </select>
    </div>  
 
  
  <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Update"> 
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</fieldset>
</form>
  </div>   `
  
  $(modelBody).append(s);
      $('#modaledituser').modal('show');
    }


</script>
{% endblock %}